JAVA_OPTS="-Xms{{ xms_value }} -Xmx{{ xmx_value }} -XX:MaxPermSize={{ maxpermsize }} -Dbr.ufrn.jboss.instanceName=INSTNAME -XX:+UseParallelGC -XX:ParallelGCThreads=4 -XX:NewRatio=3 -Dsun.rmi.dgc.client.gcInterval=1800000 -Dsun.rmi.dgc.server.gcInterval=1800000 -Dorg.apache.jasper.compiler.Parser.STRICT_QUOTE_ESCAPING=false -Dmail.smtp.starttls.enable=true -server -Djava.awt.headless=true -Duser.language=pt -Duser.region=BR -Duser.country=BR -Dorg.apache.el.parser.COERCE_TO_ZERO=false -Dfile.encoding=ISO-8859-1 -DTratarSQLInjection"